/*--------------------General Rule */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #ac9740;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

body h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 34px;
}

body p {
  font-family: "Roboto Mono", monospace;
}

header i {
  color: #3f3f3f;
}

/*--------------------Navbar */

.navbar {
  background-color: #ac9740;
  position: relative;
}

.nav-container {
  border-bottom: 1px solid #3f3f3f30;
}

.djshadow-icon {
  width: 200px;
}

.navbar-dark .navbar-toggler {
  color: #3f3f3f;
  border: 0;
  margin-right: 15px;
  font-size: 1.6rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbarNavDropdown ul li {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 40px;
  line-height: 25px;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

#navbarNavDropdown ul {
  text-align: end;
}

/*--------------------Home Background Image */

.hero-container {
  margin: 0;
  padding: 0;
}

@keyframes lights-on {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.opaque-overlay {
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  animation-name: lights-on;
  animation-duration: 3s;
  animation-delay: 0.0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.hero-image {
  background: url(../images/hero_image2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  width: 100%;
}

/*--------------------Home Main Text */

.about-container p,
.quote-container p {
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: justify;
}

.quote-container {
  width: 100%;
}

/*--------------------Home Video Container */

.video-container p,
.subscription-container p {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 30px;
}

.video-container iframe {
  width: 100%;
  border: 3px solid #fafafa;
  border-radius: 10px;
}

.video-container .video-embedded {
  margin: 0 auto;
  width: 100%;
}

.subscription-container i,
.video-container i,
.shop-link-container i {
  font-size: 30px;
  color: #3f3f3f;
}

.album-image {
  width: 100%;
  border: 3px solid #fafafa;
  border-radius: 10px;
}

.album-image-wrapper {
  width: 100%;
  margin: 0 auto;
}

.overlay-container {
  width: 100%;
  position: relative;
}

/* referenced w3schools.com for assist with this effect */
.spotify-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  background-color: #3f3f3fa4;
  border-radius: 10px;
}

.overlay-container:hover .spotify-overlay {
  opacity: 1;
}

.spotify-overlay a i {
  color: #1db954;
  font-size: 40px;
}

.spotify-overlay .spotify-link-wrapper {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.album-name p {
  font-family: "Roboto Mono", monospace;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.album-name {
  padding-top: 10%;
}

/*--------------------Subscription Container */

.subscription-container p {
  padding-right: 8px;
}

.form-elements-wrapper {
  justify-content: center;
  align-items: center;
}

.subscribe-input {
  width: 100%;
  border: 2px solid #3f3f3f;
  border-radius: 10px;
  background-color: #fafafa;
}

.input-text-wrapper {
  height: 100%;
  width: 300px;
}

.btn-404,
.btn-subscribe {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #3f3f3f;
  font-family: "Roboto Mono", monospace;
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-color: #3f3f3f;
}

/*--------------------Footer */

.footer-container {
  background-color: #3f3f3f;
  min-height: 160px;
  text-align: center;
  position: relative;
}

.footer-container li a i {
  color: #fafafa;
  font-size: 28px;
}

.footer-terms a,
.footer-terms {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #fafafa;
  margin: 0 auto;
  text-decoration: none;
}

.footer-container li a i,
.footer-terms a {
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.footer-terms a:hover,
.footer-container li a i:hover {
  color: #ac9740;
}

.footer-terms .footer-terms-item {
  padding-bottom: 25px;
}

.footer-terms .copyright-message {
  padding-bottom: 50px;
}

/*--------------------Merch */

.shop-link-container {
  padding: 50px 30px 100px;
}

/*--------------------Tour */

.tour-container .tour-image {
  background: url(../images/shadow_live.jpg) 70% center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  background-color: #3f3f3f;
}

.tour-image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.tour-dates-wrapper {
  overflow-wrap: normal;
  padding-top: 70px;
  padding-bottom: 100px;
  font-weight: 700;
}

.tour-dates-wrapper .row {
  padding-bottom: 30px;
}

/*--------------------About */

.about-container .shadow-vinyl-image {
  width: 33%;  
  margin: 15px 0 10px 40px;
  border: 3px solid #fafafa;
  border-radius: 10px;
  float: right;
}

.about-container .shadow-sitting-image {
  width: 33%;
  margin: 20px 40px 10px 0;
  border: 3px solid #fafafa;
  border-radius: 10px;
  float: left;
}

/*--------------------Gallery */

.page-heading {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 40px;
  text-align: center;
}

.gallery-container {
  padding-bottom: 70px;
}

.gallery-wrapper {
  align-items: center;
}

.shop-link-container img,
.gallery-wrapper img {
  border: 3px solid #fafafa;
  border-radius: 10px;
}

/*--------------------Gallery Pagination Custom Styling */

.gallery-pagination {
  justify-content: center;
  padding-top: 50px;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  font-weight: 500;
}

.gallery-pagination ul li span,
.gallery-pagination ul li a {
  padding: 5px 15px 7px;
  margin: 8px;
}

.page-item.disabled .page-link {
  color: #fafafa;
  background-color: #ac9740;
  border-color: #ac9740;
}

.page-item.active .page-link {
  color: #fafafa;
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  border-radius: 50%;
  z-index: 0;
}

.page-link {
  color: #fafafa;
  background-color: #ac9740;
  border-color: #ac9740;
}

.page-link:hover {
  color: #3f3f3f;
  background-color: #ac9740;
  border-color: #ac9740;
  border-radius: 50%;
}

.page-link:focus {
  box-shadow: 0 0;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 50%;
}

/*--------------------Custom 404 Page */

.btn-404 {
    width: 100px;
}

/*--------------------Media Queries */

@media screen and (min-width: 992px) {
  .video-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .nav-container {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .tour-container,
  .about-container,
  .shop-link-container {
    margin-top: 120px;
  }

  .hero-image {
    height: 75vh;
    background-attachment: scroll;
  }

  .hero-container {
    padding-top: 115px;
  }

  .music-container,
  .gallery-container {
    margin-top: 117px;
  }
}

@media screen and (max-width: 768px) {
  .about-container .col img {
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .quote-container p,
  .about-container p {
    text-align: left;
  }

  .music-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .tour-dates-wrapper {
    font-size: 4vw;
  }
}
