/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*--------------------------------------------------------General Rules */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #9f8a38;
  color: #fafafa;
  padding: 0;
  margin: 0;
}

body h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 34px;
}

body p {
  font-family: "Roboto Mono", monospace;
}

/* Headings and headings icons */
.page-heading {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 40px;
  text-align: center;
}

.page-heading i {
  color: #3f3f3f;
}

.subscription-container i,
.video-container i,
.shop-link-container i {
  font-size: 30px;
  color: #3f3f3f;
}

/* spacing containers down for fixed nav */
.music-container,
.gallery-container,
.tour-container,
.about-container,
.shop-link-container {
  margin-top: 117px;
}

/* Buttons */
.btn-404,
.btn-subscribe {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #3f3f3f;
  font-family: "Roboto Mono", monospace;
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-color: #3f3f3f;
}

.btn-contact {
  width: 60%;
  border-radius: 10px;
  background-color: #3f3f3f;
  font-family: "Roboto Mono", monospace;
  color: #fafafa;
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  border-color: #3f3f3f;
  margin: 10px auto 50px;
}

.btn-contact:hover {
  background-color: #fafafa;
  border-color: #fafafa;
  color: #3f3f3f;
}

/*--------------------------------------------------------Navbar */

.navbar {
  background-color: #9f8a38;
}

.nav-container {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #3f3f3f30;
}

.djshadow-icon {
  width: 200px;
}

.navbar-dark .navbar-toggler {
  color: #3f3f3f;
  border: 0;
  margin-right: 15px;
  font-size: 1.6rem;
}

/* customising properties of the bootstrap hamburger icon -- start */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbarNavDropdown {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#navbarNavDropdown ul {
  text-align: end;
}

#navbarNavDropdown ul li {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 40px;
  line-height: 25px;
  width: 150px;
  margin-left: auto;
}
/* customising properties of the bootstrap hamburger icon -- end */

/*--------------------------------------------------------Footer */

.footer-container {
  background-color: #3f3f3f;
  min-height: 160px;
  text-align: center;
  position: relative;
}

.footer-container li a i {
  color: #fafafa;
  font-size: 28px;
}

.footer-terms a,
.footer-terms {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #fafafa;
  margin: 0 auto;
  text-decoration: none;
}

/* Color change on hover */
.footer-container li a i,
.footer-terms a {
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.footer-terms a:hover,
.footer-container li a i:hover {
  color: #9f8a38;
}

.footer-terms .footer-terms-item {
  padding-bottom: 25px;
}

.footer-terms .copyright-message {
  padding-bottom: 50px;
}

/*--------------------------------------------------------Home Background Image */

.hero-container {
  margin: 0;
  padding-top: 115px;
}

/* dark to light animation for hero image */
@-webkit-keyframes lights-on {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes lights-on {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* animation to light up landing hero image */
.opaque-overlay {
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation-name: lights-on;
  animation-name: lights-on;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.hero-image {
  background: url(../images/hero_image2.jpg) no-repeat center center scroll;
  background-size: cover;
  height: 75vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/*--------------------------------------------------------Home/About Main Text */

.about-container p,
.quote-container p {
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}

.quote-container {
  width: 100%;
}

/*--------------------------------------------------------Home Video/Subscription Container */

.video-container p,
.subscription-container p {
  font-family: "Bebas Neue", sans-serif;
  color: #fafafa;
  font-size: 30px;
}

.video-container iframe {
  width: 100%;
  border: 3px solid #fafafa;
  border-radius: 10px;
}

.video-container .video-embedded {
  margin: 0 auto;
  width: 100%;
}

.album-image {
  width: 100%;
  border: 3px solid #fafafa;
  border-radius: 10px;
}

.album-image-wrapper {
  width: 100%;
  margin: 0 auto;
}

.overlay-container {
  width: 100%;
  position: relative;
}

/* referenced w3schools.com for assist with this effect */
.spotify-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  background-color: #3f3f3fa4;
  border-radius: 10px;
}

.overlay-container:hover .spotify-overlay {
  opacity: 1;
}

.spotify-overlay a i {
  color: #1db954;
  font-size: 9vw;
}

.spotify-overlay .spotify-link-wrapper {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.album-name p {
  font-family: "Roboto Mono", monospace;
  color: #fafafa;
  font-size: 3.5vw;
  font-weight: 400;
  text-align: center;
}

.album-name {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

/*--------------------------------------------------------Subscription Container */

.subscription-container p {
  padding-right: 8px;
}

.form-elements-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe-input {
  width: 100%;
  border: 2px solid #3f3f3f;
  border-radius: 10px;
  background-color: #fafafa;
}

.input-text-wrapper {
  height: 100%;
  width: 300px;
}

/*--------------------------------------------------------Tour */

.tour-container .tour-image {
  background: url(../images/shadow_live.jpg) 70% center scroll;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3f3f3f;
}

/* Improve contrast with overlayed text */
.tour-image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.tour-dates-wrapper {
  overflow-wrap: normal;
  padding-top: 70px;
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 3.5vw;
}

.tour-dates-wrapper .row {
  padding-bottom: 30px;
}

.contact-heading {
  font-family: "Roboto Mono", monospace;
  color: #fafafa;
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

.modal-title {
  font-family: "Bebas Neue", sans-serif;
  color: #3f3f3f;
  font-size: 30px;
}

.contact-modal-form {
  font-family: "Roboto Mono", monospace;
}

/*--------------------------------------------------------About */

.about-container .col img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  border: 3px solid #fafafa;
  border-radius: 10px;
}

/*--------------------------------------------------------Gallery and Merch */

.gallery-container {
  padding-bottom: 70px;
}

.gallery-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop-link-container img,
.gallery-wrapper img {
  border: 3px solid #fafafa;
  border-radius: 10px;
}

.shop-link-container {
  padding: 50px 30px 100px;
}

/*--------------------------------------------------------Gallery Pagination Custom Styling */

.gallery-pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  font-weight: 500;
}

.gallery-pagination ul li span,
.gallery-pagination ul li a {
  padding: 5px 15px 7px;
  margin: 8px;
}

.page-item.disabled .page-link {
  color: #fafafa;
  background-color: #9f8a38;
  border-color: #9f8a38;
}

.page-item.active .page-link {
  color: #fafafa;
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  border-radius: 50%;
  z-index: 0;
}

.page-link {
  color: #fafafa;
  background-color: #9f8a38;
  border-color: #9f8a38;
}

.page-link:hover {
  color: #3f3f3f;
  background-color: #9f8a38;
  border-color: #9f8a38;
  border-radius: 50%;
}

.page-link:focus {
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 50%;
}

/*--------------------------------------------------------Custom 404 Page */

.btn-404 {
  width: 100px;
  padding-top: 12px;
}

/*--------------------------------------------------------Media Queries */

/* nav scrolls on small devices in landscape mode to create space */
@media screen and (max-height: 450px) {
  .nav-container {
    position: relative;
  }

  #navbarNavDropdown ul li {
    font-size: 30px;
    line-height: 15px;
  }

  .hero-container {
    padding: 0;
  }

  .music-container,
  .gallery-container,
  .tour-container,
  .about-container,
  .shop-link-container {
    margin-top: 0;
  }
}

@media screen and (min-width: 576px) {
  /* justified text looks more uniform on larger screens */
  .quote-container p,
  .about-container p {
    text-align: justify;
  }

  .tour-dates-wrapper {
    font-size: 1rem;
  }

  .album-name p {
    font-size: 3vw;
  }

  .spotify-overlay a i {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  /* adjusting spacings when about page images are floated */
  .about-container .col .shadow-vinyl-image {
    width: 33%;
    margin: 15px 0 10px 40px;
    float: right;
  }

  .about-container .col .shadow-sitting-image {
    width: 33%;
    margin: 20px 40px 10px 0;
    float: left;
  }

  .album-name p {
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  /* scrolling nav on medium and larger screens */
  .nav-container {
    position: relative;
  }

  #navbarNavDropdown ul li {
    width: 100%;
  }

  /* remove spacing containers downwards with non-fixed nav */
  .music-container,
  .gallery-container,
  .tour-container,
  .about-container,
  .shop-link-container {
    margin-top: 0;
  }

  .hero-container {
    padding-top: 0;
  }

  /* fixed index-page hero-image on medium and larger screens */
  .hero-image {
    background-attachment: fixed;
    height: 80vh;
  }

  .album-image-wrapper .album-name p {
    font-size: 1.5vw;
  }

  /* spacing left/right to video container on index page when side by side */
  .video-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
