/*--------------------General Rule */
/*
* {
 background: #000 !important;
 color: #0f0 !important;
 outline: solid #f00 1px !important;
} */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Mono:wght@500;700&display=swap");
/*
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background-color: #ac9740;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

/*--------------------Navbar */

.navbar {
  background-color: #ac9740;
  position: relative;
}

.djshadow-icon {
  width: 200px;
}

.navbar-dark .navbar-toggler {
  color: #3f3f3f;
  border: 1px solid #fafafa;
  margin-right: 15px;
  font-size: 1.6rem;
  border: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbarNavDropdown ul li {
  font-family: "Roboto Mono", monospace;
  color: #fafafa;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

#navbarNavDropdown ul {
  text-align: end;
}

/*--------------------Home Background Image */

.hero-container {
  margin: 0;
  padding: 0;
}

@keyframes lights-on {
  0%   {background-color:  rgba(0, 0, 0, 1);}
  100% {background-color:  rgba(0, 0, 0, 0);}
}

.opaque-overlay {
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  position: absolute;
  animation-name: lights-on;
  animation-duration: 3s;
  animation-delay: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.hero-image {
  background: url(../images/hero_image2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
}

.hero-image {
  width: 100%;
}

/*--------------------Home Main Text */

.quote-container p {
  font-family: "Oswald", sans-serif;
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.quote-container {
  padding: 30px 50px;
  width: 100%;
}

/*--------------------Home Video Container */

.video-form-container .home-video {
  max-width: 500px;
  max-height: 500px;
  padding-right: ;
  padding-bottom: 50px;
  margin: 0 auto;
}

.video-form-container h5 {
  text-align: center;
}

/*--------------------Footer */

.footer-container {
  background-color: #3f3f3f;
  min-height: 160px;
  text-align: center;
}

.footer-container li a i {
  color: #fafafa;
  font-size: 28px;
  padding: 20px 10px;
}

.social-links {
  margin-top: 20px;
}

.footer-terms a,
.footer-terms {
  font-family: "Roboto", monospace;
  font-weight: 500;
  color: #fafafa;
  margin: 0 auto;
  text-decoration: none;
}

.footer-container li a i,
.footer-terms a {
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.footer-terms a:hover,
.footer-container li a i:hover {
  color: #ac9740;
}

.footer-terms .footer-terms-item {
  padding-bottom: 25px;
}

.footer-terms .copyright-message {
  padding-bottom: 60px;
}
