/*--------------------General Rule */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Mono:wght@700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ac9740;
}

.hero-container {
  margin: 0;
  padding: 0;  
}

.hero-image {
  background: url(../images/hero_image2.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vh;
  position: relative;
  display: flex;
}

.navbar {
  background-color: #ac9740;
  position: relative;
}

.djshadow-icon {
  width: 50%;
}

.hero-image {
  width: 100%;
}

p {
  font-family: "Oswald", sans-serif;
	color: #fafafa;
	font-size: 20px;
	font-weight: 500;
  line-height: 40px;
}

.quote-container {
	padding: 30px 50px;
	width: 100%;	
}
